@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Общие цвета (не зависят от темы) */
  --color-*: initial;

  /* Светлая тема (по умолчанию) */
  --color-background: oklch(0.97 0.01 250); /* Фон */
  --color-surface: oklch(1 0 0); /* Фон для карточек, панелей */
  --color-text: oklch(0.35 0.03 250); /* Основной текст */
  --color-primary: oklch(0.55 0.22 280);
  /* Главные кнопки, интерактивные элементы */
  --color-secondary: oklch(0.75 0.12 210); /* Второстепенные кнопки, иконки */
  --color-accent: oklch(0.8 0.15 70); /* Важные уведомления, выделение */

  --color-success: oklch(0.75 0.12 160); /* Успешные действия
  */

  --color-error: oklch(0.75 0.18 25); /* Ошибки, предупреждения */

  /* Тёмная тема */
  --color-dark-background: oklch(0.2 0.02 250); /* Фон */
  --color-dark-surface: oklch(0.35 0.03 250); /* Фон для карточек, панелей */
  --color-dark-text: oklch(0.9 0.02 250); /* Основной текст */
  --color-dark-primary: oklch(
    0.75 0.12 280
  ); /* Главные кнопки,
   интерактивные элементы */
  --color-dark-secondary: oklch(
    0.85 0.1 210
  ); /* Второстепенные 
  кнопки, иконки */
  --color-dark-accent: oklch(0.85 0.15 70); /* Важные уведомления, выделение */

  --color-dark-success: oklch(0.8 0.12 160); /* Успешные действия
  */

  --color-dark-error: oklch(0.8 0.15 25); /* Ошибки, предупреждения */
}
.primary-style {
  @apply bg-primary dark:bg-dark-primary text-text dark:text-dark-text;
}
.secondary-style {
  @apply bg-secondary dark:bg-dark-secondary text-text dark:text-dark-text;
}

.accent-style {
  @apply bg-accent dark:bg-dark-accent text-text dark:text-dark-text;
}

.success-style {
  @apply bg-success dark:bg-dark-success text-text dark:text-dark-text;
}

.error-style {
  @apply bg-error dark:bg-dark-error text-text dark:text-dark-text;
}

.ta4 {
  @apply hover:opacity-80 transition-opacity active:opacity-80;
}
